nav {
    width: 100%;
    color: #fff;
    padding: 6px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
    transition: background 0.5s;
}

.logo {
    width: 100px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 25px 20px;
    font-size: 16px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ccc; /* Darker color on hover */
}

nav ul li a:active {
    color: #ffe0d5; /* Blueviolet color on click */
}

.dark-nav {
    background: #dfa690;
}

.menu-icon{
    display: none;
}

.logo-link{
    width: 5.5rem;
    height: 4rem;
}


@media (max-width: 1000px) {
    .logo{
        width: 140px;
    }
    nav ul li {
        margin: 10px 15px;
    }
}

@media (max-width: 840px) {
    nav{
        padding: 15px 0;
    }
    nav ul{
        position: fixed;
        top: 0;
        right: 0px;
        bottom: 0;
        background: #212EA0;
        z-index: 9999;
        width: 200px;
        padding-top: 70px;
        transition: 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px 40px;
    }
    .menu-icon{
        display: block;
        width: 30px;
        cursor: pointer;
    }
    .hide-mobile-menu{
        right: -200px;
    }
}
